= render partial: '/shared/titles', locals: { title: "Peleas de #{@tournament.name.upcase}",
  links: [{ name: 'TORNEO ACTUAL', path: tournament_path(@tournament) }] }
%table.table.is-fullwidth
  %thead
    %tr
      %th CATEGORIA
      %th NRO DE PELEADORES
      %th NIVEL
      %th NRO DE PELEAS
      %th NRO DE RONDAS
      %th
  %tbody
    - @tournament.categories.each do |c|
      %tr
        %td= "#{c.min_weight < 90 ? "#{c.min_weight} - #{c.max_weight}" : "PESO COMPLETO"}"
        %td= c.fighters.count
        %td= c.level
        %td= c.fights.count
        %td= c.rounds.count
        %td= link_to 'VER DETALLES', tournament_categories_fight_path(@tournament, c),
              class: 'button is-small is-rounded is-black'

%h1 2013 NCAA Tournament - Midwest Bracket
%main#tournament
  %ul.round.round-1
    %li.spacer  
    %li.game.game-top.winner
      Lousville
      %span 79
    %li.game.game-spacer  
    %li.game.game-bottom
      NC A&T
      %span 48
    %li.spacer  
    %li.game.game-top.winner
      Colo St
      %span 84
    %li.game.game-spacer  
    %li.game.game-bottom
      Missouri
      %span 72
    %li.spacer  
    %li.game.game-top
      Oklahoma St
      %span 55
    %li.game.game-spacer  
    %li.game.game-bottom.winner
      Oregon
      %span 68
    %li.spacer  
    %li.game.game-top.winner
      Saint Louis
      %span 64
    %li.game.game-spacer  
    %li.game.game-bottom
      New Mexico St
      %span 44
    %li.spacer  
    %li.game.game-top.winner
      Memphis
      %span 54
    %li.game.game-spacer  
    %li.game.game-bottom
      St Mary's
      %span 52
    %li.spacer  
    %li.game.game-top.winner
      Mich St
      %span 65
    %li.game.game-spacer  
    %li.game.game-bottom
      Valparaiso
      %span 54
    %li.spacer  
    %li.game.game-top.winner
      Creighton
      %span 67
    %li.game.game-spacer  
    %li.game.game-bottom
      Cincinnati
      %span 63
    %li.spacer  
    %li.game.game-top.winner
      Duke
      %span 73
    %li.game.game-spacer  
    %li.game.game-bottom
      Albany
      %span 61
    %li.spacer  
  %ul.round.round-2
    %li.spacer  
    %li.game.game-top.winner
      Lousville
      %span 82
    %li.game.game-spacer  
    %li.game.game-bottom
      Colo St
      %span 56
    %li.spacer  
    %li.game.game-top.winner
      Oregon
      %span 74
    %li.game.game-spacer  
    %li.game.game-bottom
      Saint Louis
      %span 57
    %li.spacer  
    %li.game.game-top
      Memphis
      %span 48
    %li.game.game-spacer  
    %li.game.game-bottom.winner
      Mich St
      %span 70
    %li.spacer  
    %li.game.game-top
      Creighton
      %span 50
    %li.game.game-spacer  
    %li.game.game-bottom.winner
      Duke
      %span 66
    %li.spacer  
  %ul.round.round-3
    %li.spacer  
    %li.game.game-top.winner
      Lousville
      %span 77
    %li.game.game-spacer  
    %li.game.game-bottom
      Oregon
      %span 69
    %li.spacer  
    %li.game.game-top
      Mich St
      %span 61
    %li.game.game-spacer  
    %li.game.game-bottom.winner
      Duke
      %span 71
    %li.spacer  
  %ul.round.round-4
    %li.spacer  
    %li.game.game-top.winner
      Lousville
      %span 85
    %li.game.game-spacer  
    %li.game.game-bottom
      Duke
      %span 63
    %li.spacer  